.vscode
.env
.flask_secret_key
**/__pycache__/**
venv/

/data/*
!/data/.gitkeep

/logs/*
!/logs/.gitkeep

/locks/*
!/locks/.gitkeep

# Ignore all yaml files in config/jobs
/config/jobs/*.yaml
/config/jobs/*.yml

# Do NOT ignore yaml files in config/jobs/templates
!config/jobs/templates/*.yaml
!config/jobs/templates/*.yml