.vscode
.env
.flask_secret_key
**/__pycache__/**
venv/

/data/*
!/data/.gitkeep

/logs/*
!/logs/.gitkeep

/locks/*
!/locks/.gitkeep

config/global.yaml
config/monitor.yaml

# Ignore all yaml files in config/jobs
/config/jobs/*.yaml

# Do NOT ignore yaml files in config/jobs/templates
!config/jobs/templates/*.yaml

