job_name: "JABS DEV"  # The name of the backup job (used for logging and organization)
source: "/home/jim2/jabs_dev"  # The source directory to back up
max_tarball_size: 1  # Maximum size of each tarball in MB (e.g., 1024 MB = 1 GB)

encryption:
  enabled: true

aws:
  enabled: true
  storage_class: "INTELLIGENT_TIERING"
  
exclude:
  # General patterns
  - "*.tmp"  # Exclude temporary files
  - "*.bak"  # Exclude backup files (e.g., file.bak)
  - "*.swp"  # Exclude swap files (e.g., Vim swap files)
  - "*.lock"  # Exclude lock files (e.g., file.lock)
  - "cache/"  # Exclude cache directories
  - "node_modules/"  # Exclude Node.js dependencies
  - "venv/"  # Exclude Python virtual environments
  - "build/"  # Exclude build directories (e.g., for compiled code)
  - ".*"  # Exclude all hidden files and directories (e.g., .git, .env)
  - ".DS_Store"  # Exclude macOS-specific metadata files
  - "*.log"  # Exclude log files
  - "*.iso"  # Exclude ISO disk images
  - "*.tar.gz"  # Exclude tarball archives
  - "*.tar"
  - "docs/"  # Exclude a specific directory
  
  # Advanced patterns
  - "__pycache__/"  # Exclude all `__pycache__` directories at any level
  - "**/__pycache__/"  # Exclude all `__pycache__` directories recursively
  - "**/__pycache__/**"  # Exclude all files and subdirectories within any `__pycache__` directory
  - "**/*.class"  # Exclude Java compiled class files recursively
  - "**/temp/**"  # Exclude any directory named "temp" at any level

schedules:
  - cron: "0 1 * * 7"  
    type: "full"
    enabled: true

  - cron: "0 1 * * 1-6" 
    type: "diff"
    enabled: true

  - cron: "0 11 * * *"    
    type: "diff"           # full | diff
    enabled: false          # true | false
