/* Repository page CSS styles */

/* Keep cards white even in dark mode */
.card.bg-white, .card-header.bg-white, .card-body.bg-white {
    background-color: #fff !important;
    color: #212529 !important;
}