# configure the drives and buckets that appear in the dashboard

drives:
  - "/"
  - "/media/jim2/backupdrive"
  - "/media/jim2/pishare/"

s3_buckets:
  - "lampapps-jabs1"
  - "lampapps-jabs-dev"
  - "lampapps-backup"   
 