# Default Backup Job Configuration:

# Local destination for all backups jobs unless overridden in job config
# The `destination` directory must have sufficient space for the backup sets.
destination: "/media/jim2/backupdrive/jabs_dev" 

keep_sets: 5  # Number of backup sets to retain (older sets will be deleted automatically)
max_tarball_size: 2048  # Maximum size of each tarball in MB (e.g., 1024 MB = 1 GB)

use_common_exclude: true   # true | false to exclude patterns from config/common_exlude.yaml

# AWS S3 settings for cloud backups unless overridden in job config
# The `aws` section is required only if you plan to sync backups to AWS S3.
# Bucket name rules:
# - Must be globally unique across all AWS accounts.
# - Must be between 3 and 63 characters long.
# - Can contain lowercase letters, numbers, and hyphens.
# - Must start and end with a letter or number.
# - Cannot contain uppercase letters or underscores.
# - Cannot be formatted as an IP address (e.g., 192.168.5.4).

aws:
  enabled: false  # Default, false can be overridden in job config or by CLI
  profile: "default"  # AWS CLI profile to use (default if not specified)
  region: "us-east-1"  # AWS region (overrides profile region if specified)
  bucket: "lampapps-jabs-dev"  # S3 bucket name (required for cloud backups)
  storage_class: "STANDARD"  # Options: STANDARD, STANDARD_IA, ONEZONE_IA, INTELLIGENT_TIERING, GLACIER, DEEP_ARCHIVE, etc.

# Encryption settings for backups unless overridden in job config
encryption:
  enabled: true  # true | false
  method: gpg  # Only 'gpg' supported for now
  passphrase_env: JABS_ENCRYPT_PASSPHRASE  # Name of env var holding passphrase


# Dashboard Configuration:
# Configure the drives and buckets that appear in the dashboard 
drives:
  - path: "/"
    label: "Root"
  - path: "/media/jim2/backupdrive"
    label: "Backup Drive"
  - path: "/media/jim2/pishare"
    label: "Pi Share"

s3_buckets:
  - bucket: "lampapps-jabs1"
    label: "JABS1"
  - bucket: "lampapps-backup"
    label: "Backup"
  - bucket: "lampapps-jabs-dev"
    label: "JABS-Dev"

email:
  smtp_server: "smtp.zoho.com"         # SMTP server (change if using another provider)
  smtp_port: 587                       # 587 for TLS (Gmail and most providers)
  to_addrs:                            # List of recipient email addresses
    - "jamesoferry@gmail.com"
  #  - "jamesoferry@gmail.com"
  use_tls: true                        # Use TLS for SMTP connection (recommended for Gmail)
  digest_email_schedule: "0 8 * * *"   # Every day at 8:00 AM (example)

  # Configure which events trigger email notifications
  notify_on:
    error:
      enabled: true
      mode: immediate
    backup_complete:
      enabled: true
      mode: digest
    restore_complete:
      enabled: true
      mode: digest

