<!-- Cronitor Badge -->
<img src="https://cronitor.io/badges/KLrCh0/production/wLW3ZcGEKKogN1auD-k2sxJiy5U.svg" alt="jabs-imac-cron Status" class="me-2 mb-2" style="max-width: 100%; height: auto;" />
<img src="https://cronitor.io/badges/IZqG5P/production/3JqP8cW-uep-qWN-uxZbOUunZHE.svg" alt="lampapps.com Status" class="me-2 mb-2" style="max-width: 100%; height: auto;" />
<img src="https://cronitor.io/badges/kt7GDT/production/mqH_nruSiBGFa0ahGS4cP-dP9IA.svg" alt="jof.gallery Status" class="me-2 mb-2" style="max-width: 100%; height: auto;" />