<!-- eslint-disable -->
<!-- htmlhint-disable -->
<!-- html-validate-disable -->
{% extends "base.html" %}
{% block title %}Repository{% endblock %}
{% block top_scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/repository.css') }}">
{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="mb-4">
        <h2 class="mb-0">Backup Repository</h2>
         <span class="fs-6">Configure the default backup repositories in the 
            <a href="{{ url_for('config.config') }}">global settings</a></span>
    </div>
    <div class="row g-4">
        <div class="col-12 col-lg-6">
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span><i class="fa fa-hdd me-2"></i> Default Local Destination</span>
                    <span class="badge rounded-pill bg-secondary align-middle">Read Only</span>
                </div>
                <div class="card-body bg-white text-dark">
                    <div id="local-trees"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span><i class="fa fa-cloud me-2"></i> Default Cloud Bucket</span>
                    <span class="badge rounded-pill bg-secondary align-middle">Read Only</span>
                </div>
                <div class="card-body bg-white text-dark">
                    <div id="s3-trees"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jstree@3.3.15/dist/themes/default/style.min.css" />
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jstree@3.3.15/dist/jstree.min.js"></script>
<script>
    /* eslint-disable */
    /* These variables are injected by Flask/Jinja2 */
    const localTrees = {{ local_tree_json | safe }};
    const s3Trees = {{ s3_tree_json | safe }};
    /* eslint-enable */
</script>
<script src="{{ url_for('static', filename='js/repository.js') }}"></script>
{% endblock %}